<div id="contact-me-mobile" class="contact-container wide-screen">
    <h2>{{ 'contact.title' | translate}}</h2>
    
    <div class="contact-content">
        <div class="contact-header">
           
            <div class="header-top">
                <div class="header-top-phone">
                    <a href="tel:01747620110">
                        <div class="tel img"></div>
                        <span>{{ 'contact.myphone' | translate}}: 0174 762 0110 </span>
                     </a>
                </div>
                <div class="header-top-email">
                    <a href="mailto:info@dev-sun.de">
                        <div class="mail img"></div>
                        <span>{{ 'contact.myemail' | translate}}: info&#64;dev-sun</span>
                    </a>
                </div>
                
            </div>
            <div class="header-middle">{{ 'contact.feelfree' | translate}}</div>
            <div class="header-bottom">{{ 'contact.worktogether' | translate}}</div>
        </div>
        <div class="contact-form">
            
            <form (ngSubmit)="onSumbmit(myForm)" #myForm="ngForm">
                <div class="form-name-mail">
                    <div class="form-name form-field">
                        <input [class.form-input-error]=" !nameValid " placeholder="{{ !nameValid ? ('contact.namerequired' | translate) : ('contact.name' | translate)}}" [(ngModel)]="contact.name" name="name" id="name" class="form-input" type="text" (focus)="nameValid = true">
                    </div>
                    <div class="form-email form-field">
                        <input [class.form-input-error]=" !emailValid " placeholder="{{ !emailValid ? (emailInvalidMsg | translate) : ('contact.myemail' | translate)}}" [(ngModel)]="contact.email" name="email" id="email" class="form-input" type="text" (focus)="emailValid = true">
                    </div>
                </div>
                <div class="form-message form-field">
                    <textarea [class.form-input-error]=" !msgValid " placeholder=" {{ !msgValid ? ('contact.messagerequired' | translate) : ('contact.message' | translate)}}" [(ngModel)]="contact.msg" name="message"  id="message" class="form-input" (focus)="msgValid = true"></textarea>
                </div>
                <div class="privacy-policy">
                    <div class="cb pointer" (click)="clickCb()" [ngClass] = "{'checked': isChecked}" >

                    </div>
                    <span>
                        {{ 'contact.read' | translate}} <a routerLink="/private-policy" routerLinkActive="active"  href="">{{ 'contact.privacypolicy' | translate}}</a> {{ 'contact.agree' | translate}}
                    </span>
                </div>
                <div class="send-btn">
                    @if (isShowingSuccessMsg) {
                        <div class="success-msg">
                            {{'contact.successmsg' | translate}}
                        </div>
                    } @else {
                        <button [disabled]="!isChecked" type="submit" class="pointer">{{ 'contact.send' | translate}}</button>
                    }
                </div>
            </form>
        </div>
        <div class="goup-arrow pointer" [appScrollBounce]="'landing-page-mobile'" [offsetY]="0"  [appScrollAnimate]="{animateCss:'move-up'}"></div>
    </div>
</div>