node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
tmp/
out-tsc/
.angular/cache/

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.env
.env.local
.env.production
.env.staging

.firebase/
*-debug.log
.runtimeconfig.json

.angular/