@use '../../../style/apple-variables' as *;

header {
    background: $apple-header-footer-gradient;
    
    .go-back {
        a {
            font-size: clamp(16px, 2.5vw, 18px); 
            
            span:first-child {
                font-size: clamp(18px, 3vw, 20px); 
            }
            
            span:last-child {
                font-size: clamp(16px, 2.5vw, 18px); 
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        .go-back {
            a {
                span:first-child {
                    font-size: 20px; 
                    transform: scale(1);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .go-back {
            a {
                span:first-child {
                    font-size: 20px;
                    transform: scale(1);
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        .go-back {
            a {
                span:first-child {
                    font-size: 18px;
                    transform: scale(1);
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        .go-back {
            a {
                span:first-child {
                    font-size: 16px;
                    transform: scale(1);
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        .go-back {
            a {
                span:first-child {
                    font-size: 16px;
                    transform: scale(1);
                }
            }
        }
    }
}