@use "./../../../style/variables" as *;

.nav-wrapper {
    background-color: $base-blue;
    position: sticky;
    top: 0;
    z-index: 998;

    @media screen and (max-width: 899px) {
            display: none;
    }
}
.nav {
    box-sizing: border-box;
    width: 100%;
    height: 104px;
    
    
    background-color: $base-blue;
    @include standardPadding();

    .content {
        width: 100%;
        height: 100%;
        @include dFlex($jc: space-between);

        .logo {
            @include dFlex($fd: column, $jc: center);
            .logo-img {
                width: 60px;
                height: 38px;
                background: {
                    image: url('./../../../assets/img/logo.png');
                    repeat: no-repeat;
                    position: center;
                };
            }
            .logo-name {
                font-size: 16px;
                color: $base-white;
            }
            .logo-position {
                font-size: 12px;
                color: $base-lightgray;
            }
        }
        .items{
            font-size: 26px;
            font-weight: 500;
            
            @include dFlex($jc:space-around);
            li {
                width: 200px;
                text-align: center;
                span {
                    padding: 10px 0;
                    background: {
                        image: url('./../../../assets/img/ellipse.png');
                        size: contain;
                        repeat: no-repeat;
                        position: center;
                    };
                    &:hover{
                        color: $base-white;
                    }
                }
            }
        }
        @media (max-width:1300px) {
            .items{
                font-size: 26px;
                color: $base-black;
                li {
                    width: 150px;
                    
                }
            }
        }
        @media (max-width:1000px) {
            .items{
                font-size: 22px;
                li {
                    width: 120px;
                    
                }
            }
        }
        
    }
}