<div class="private-policy-container">
    <div class="custom-header">
        <div class="go-back-button">
            <a (click)="goBack()" class="apple-back-btn">
                <div class="back-arrow">‹</div>
                <span class="back-text">{{ 'header.goback' | translate }}</span>
            </a>
        </div>

        <h1 class="page-title">{{ 'privatepolicy' | translate }}</h1>

        <div class="header-lang-switcher">
            <app-lang-switcher></app-lang-switcher>
        </div>
    </div>

    <div class="private-policy-content wide-screen">
        <div class="content">
            <div class="legal-notice-subcontainer">
                @if (currentLang == 'en') {
                <h1>Privacy Policy</h1>
                <h2>1. Data protection at a glance</h2>
                <h3>General information</h3>
                <p>The following information provides a simple overview of what happens to your personal
                    data when you visit this website. Personal data is all data with which you
                    can be personally identified. You can find detailed information on the subject of data protection
                    in our privacy policy listed below this text.</p>

                <h3>Data collection on this website</h3>
                <h4>Who is responsible for data collection on this website?</h4>
                <p>Data processing on this website is carried out by the website operator. You can find their contact
                    details
                    in the "Information on the controller" section of this
                    privacy policy.</p>

                <h4>How do we collect your data?</h4>
                <p>Your data is collected firstly when you provide it to us. This may be
                    e.g. data that you enter in a contact form.</p>
                <p>Other data is collected automatically or with your consent by our
                    IT systems when you visit the website. This is primarily technical data (e.g. internet browser,
                    operating system or
                    time of the page view). This data is collected automatically as soon as you enter this website.</p>

                <h4>What do we use your data for?</h4>
                <p>Some of the data is collected in order to ensure the error-free provision of the website.
                    Other data may be used to analyze your user behavior.</p>

                <h4>What rights do you have regarding your data?</h4>
                <p>You have the right to obtain information about the origin, recipient and purpose of your personal
                    data stored
                    at any time and free of charge. You also have the right to request the rectification
                    or erasure of this data. If you have given your consent to data processing,
                    you can revoke this consent at any time for the future. Furthermore,
                    you have the right to request the restriction of the processing of your
                    personal data under certain circumstances. Furthermore, you have the right to lodge a complaint with
                    the competent supervisory authority.</p>
                <p>You can contact us at any time regarding this and other questions on the subject of data protection.
                </p>

                <h2>2. General information and mandatory information</h2>
                <h3>Data protection</h3>
                <p>The operators of this website take the protection of your personal data very seriously. We treat
                    your personal data confidentially and in accordance with the statutory data protection regulations
                    and
                    this privacy policy.</p>
                <p>When you use this website, various pieces of personal data are collected. Personal
                    data is data with which you can be personally identified. This
                    privacy policy explains what data we collect and what we use it for. It
                    also explains how and for what purpose this is done.</p>
                <p>We would like to point out that data transmission over the Internet (e.g. when communicating via
                    e-mail) may be subject to security vulnerabilities. Complete protection of data against access
                    by third parties is not possible.</p>

                <h3>Storage period</h3>
                <p>Unless a more specific storage period has been specified within this privacy policy,
                    your personal data will remain with us until the purpose for data processing
                    no longer applies. If you assert a justified request for deletion or revoke your consent to
                    data processing, your data will be deleted unless we have other legally
                    permissible reasons for storing your personal data (e.g.
                    retention periods under tax or commercial law); in the latter case, deletion will take place
                    after these reasons no longer apply.</p>

                <h3>General information on the legal basis for data processing on this website</h3>
                <p>If you have consented to data processing, we process your personal data
                    on the basis of Art. 6 para. 1 lit. a GDPR or Art. 9 para. 2 lit. a GDPR, insofar as special
                    data categories are processed in accordance with Art. 9 para. 1 GDPR. In the event of express
                    consent to the transfer of personal data to third countries,
                    data processing is also carried out on the basis of Art. 49 para. 1 lit. a GDPR. If you have
                    consented to the
                    storage of cookies or access to information in your end device (e.g. via
                    device fingerprinting), the data processing is also carried out on the basis
                    of Section 25 (1) TTDSG. Consent can be revoked at any time. If your data is required for
                    contract fulfillment or for the implementation of pre-contractual measures,
                    we process your data on the basis of Art. 6 para. 1 lit. b GDPR. Furthermore, we process
                    your data if this is necessary to fulfill a legal obligation on
                    the basis of Art. 6 para. 1 lit. c GDPR. Data processing may also be carried out on the basis of our
                    legitimate interest in accordance with Art. 6 para. 1 lit. f GDPR. Information on the relevant legal
                    bases in each individual case
                    is provided in the following paragraphs of this privacy policy.</p>

                <h3>Revocation of your consent to data processing</h3>
                <p>Many data processing operations are only possible with your express consent.
                    You can withdraw your consent at any time. The lawfulness
                    of the data processing carried out up to the point of withdrawal remains unaffected by the
                    withdrawal.</p>

                <h3>Right to object to data collection in special cases and to direct marketing (Art. 21 GDPR)</h3>
                <p>If the data processing is based on Art. 6 para. 1 lit. e or f GDPR, you
                    have the right to object to the processing of your personal data at any time for reasons arising
                    from your particular situation; this also applies to profiling based on these
                    provisions. The respective legal basis on which processing
                    is based can be found in this privacy policy. If you object, we will no longer process your
                    personal data concerned unless we can demonstrate compelling
                    legitimate grounds for the processing which override your interests, rights and freedoms
                    or the processing serves the establishment, exercise or defense of
                    legal claims (objection pursuant to Art. 21 (1) GDPR).</p>
                <p>If your personal data are processed for direct marketing purposes, you
                    have the right to object at any time to processing of personal data concerning you
                    for such marketing, which includes profiling to the extent that it
                    is related to such direct marketing. If you object, your personal data
                    will no longer be used for direct marketing purposes
                    (objection in accordance with Art. 21 para. 2 GDPR).</p>

                <h3>Right to lodge a complaint with the competent supervisory authority</h3>
                <p>In the event of infringements of the GDPR, data subjects have the right to lodge a complaint with a
                    supervisory authority, in particular in the Member State of their habitual residence, their place of
                    work
                    or the place of the alleged infringement. The right to lodge a complaint exists
                    without prejudice to any other administrative or judicial remedy.</p>

                <h3>Right to data portability</h3>
                <p>You have the right to have data that we process automatically on the basis of your consent or in
                    fulfillment of a
                    contract handed over to you or to a third party in a common,
                    machine-readable format. If you request the direct transfer of the data
                    to another controller, this will only take place insofar as it is technically feasible.</p>

                <h3>Information, erasure and rectification</h3>
                <p>You have the right to obtain information free of charge at any time within the scope of the
                    applicable legal provisions
                    about your stored personal data, its origin and recipients and the
                    purpose of the data processing and, if applicable, a right to rectification or erasure of this data.
                    You can contact us at any time
                    if you have any further questions on the subject of personal data.</p>

                <h3>Right to restriction of processing</h3>
                <p>You have the right to request the restriction of the processing of your personal data.
                    You can contact us at any time to do this. The right to restriction of processing
                    exists in the following cases:</p>
                <ul>
                    <li>If you contest the accuracy of your personal data stored by us,
                        we generally need time to verify this. For the duration of the
                        check, you have the right to request the restriction of the processing of your personal
                        data.</li>
                    <li>If the processing of your personal data was/is unlawful,
                        you can request the restriction of data processing instead of erasure.</li>
                    <li>If we no longer need your personal data, but you need it for the exercise,
                        defense or assertion of legal claims, you have the right to request
                        the restriction of the processing of your personal data instead of erasure.</li>
                    <li>If you have lodged an objection pursuant to Art. 21 (1) GDPR, a balance must be struck
                        between your interests and ours. As long as it has not yet been determined whose
                        interests prevail, you have the right to request the restriction of the processing of your
                        personal data.</li>
                </ul>
                <p>If you have restricted the processing of your personal data, this data
                    - apart from being stored - may only be processed with your consent or for the establishment,
                    exercise or defense of legal claims or for the protection of the rights of another
                    natural or legal person or for reasons of important public
                    interest of the European Union or of a Member State.</p>

                <p>This data is not merged with other data sources.</p>
                <p>This data is collected on the basis of Art. 6 para. 1 lit. f GDPR. The website operator has
                    a legitimate interest in the technically error-free presentation and optimization of its website
                    - for this purpose, the server log files must be recorded.</p>

                <h3>Request by e-mail, telephone or fax</h3>
                <p>If you contact us by e-mail, telephone or fax, your request, including all personal data (name,
                    request) resulting from it
                    will be stored and processed by us
                    for the purpose of processing your request. We will not pass on this data without your consent.</p>
                <p>This data is processed on the basis of Art. 6 para. 1 lit. b GDPR, provided that your request
                    is related to the fulfillment of a contract or is necessary for the implementation of
                    pre-contractual
                    measures. In all other cases, the processing is based on our
                    legitimate interest in the effective processing of the inquiries addressed to us (Art. 6 para. 1
                    lit.
                    f GDPR) or on your consent (Art. 6 para. 1 lit. a GDPR) if this has been requested; the
                    consent can be revoked at any time.</p>
                <p>The data you send to us via contact requests will remain with us until you ask us to delete it,
                    revoke your consent to storage or the purpose for
                    data storage no longer applies (e.g. after your request has been processed). Mandatory
                    statutory provisions - in particular statutory retention periods - remain unaffected.</p>

                <p class="link">Source: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a>
                </p>
                } @else {
                <h1>Datenschutzerklärung</h1>
                <h2>1. Datenschutz auf einen Blick</h2>
                <h3>Allgemeine Hinweise</h3>
                <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen
                    Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen
                    Sie
                    persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz
                    entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.</p>

                <h3>Datenerfassung auf dieser Website</h3>
                <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
                <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
                    können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle" in dieser
                    Datenschutzerklärung entnehmen.</p>

                <h4>Wie erfassen wir Ihre Daten?</h4>
                <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich
                    z.&nbsp;B. um Daten handeln, die Sie in ein Kontaktformular eingeben.</p>
                <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere
                    IT-Systeme erfasst. Das sind vor allem technische Daten (z.&nbsp;B. Internetbrowser, Betriebssystem
                    oder
                    Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website
                    betreten.</p>

                <h4>Wofür nutzen wir Ihre Daten?</h4>
                <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.
                    Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>

                <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
                <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer
                    gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung
                    oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt
                    haben, können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem
                    haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
                    personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein Beschwerderecht bei der
                    zuständigen Aufsichtsbehörde zu.</p>
                <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.</p>

                <h2>2. Allgemeine Hinweise und Pflicht­informationen</h2>
                <h3>Datenschutz</h3>
                <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
                    Ihre personenbezogenen Daten vertraulich und entsprechend den gesetzlichen Datenschutzvorschriften
                    sowie
                    dieser Datenschutzerklärung.</p>
                <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene
                    Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende
                    Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie
                    erläutert auch, wie und zu welchem Zweck das geschieht.</p>
                <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.&nbsp;B. bei der Kommunikation per
                    E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
                    durch Dritte ist nicht möglich.</p>

                <h3>Speicherdauer</h3>
                <p>Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde,
                    verbleiben Ihre personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung
                    entfällt. Wenn Sie ein berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur
                    Datenverarbeitung widerrufen, werden Ihre Daten gelöscht, sofern wir keine anderen rechtlich
                    zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben (z.&nbsp;B.
                    steuer- oder handelsrechtliche Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung
                    nach Fortfall dieser Gründe.</p>

                <h3>Allgemeine Hinweise zu den Rechtsgrundlagen der Datenverarbeitung auf dieser Website</h3>
                <p>Sofern Sie in die Datenverarbeitung eingewilligt haben, verarbeiten wir Ihre personenbezogenen Daten
                    auf
                    Grundlage von Art. 6 Abs. 1 lit. a DSGVO bzw. Art. 9 Abs. 2 lit. a DSGVO, sofern besondere
                    Datenkategorien nach Art. 9 Abs. 1 DSGVO verarbeitet werden. Im Falle einer ausdrücklichen
                    Einwilligung in die Übertragung personenbezogener Daten in Drittstaaten erfolgt die
                    Datenverarbeitung außerdem auf Grundlage von Art. 49 Abs. 1 lit. a DSGVO. Sofern Sie in die
                    Speicherung von Cookies oder in den Zugriff auf Informationen in Ihr Endgerät (z.&nbsp;B. via
                    Device-Fingerprinting) eingewilligt haben, erfolgt die Datenverarbeitung zusätzlich auf Grundlage
                    von § 25 Abs. 1 TTDSG. Die Einwilligung ist jederzeit widerrufbar. Sind Ihre Daten zur
                    Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen erforderlich,
                    verarbeiten wir Ihre Daten auf Grundlage des Art. 6 Abs. 1 lit. b DSGVO. Des Weiteren verarbeiten
                    wir
                    Ihre Daten, sofern diese zur Erfüllung einer rechtlichen Verpflichtung erforderlich sind auf
                    Grundlage von Art. 6 Abs. 1 lit. c DSGVO. Die Datenverarbeitung kann ferner auf Grundlage unseres
                    berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO erfolgen. Über die jeweils im Einzelfall
                    einschlägigen Rechtsgrundlagen wird in den folgenden Absätzen dieser Datenschutzerklärung
                    informiert.</p>

                <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
                <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich.
                    Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit
                    der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>

                <h3>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21
                    DSGVO)</h3>
                <p>Wenn die Datenverarbeitung auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, haben Sie
                    jederzeit das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die
                    Verarbeitung Ihrer personenbezogenen Daten Widerspruch einzulegen; dies gilt auch für ein auf diese
                    Bestimmungen gestütztes Profiling. Die jeweilige Rechtsgrundlage, auf denen eine Verarbeitung
                    beruht, entnehmen Sie dieser Datenschutzerklärung. Wenn Sie Widerspruch einlegen, werden wir Ihre
                    betroffenen personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende
                    schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
                    überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von
                    Rechtsansprüchen (Widerspruch nach Art. 21 Abs. 1 DSGVO).</p>
                <p>Werden Ihre personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie
                    das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener
                    Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es
                    mit solcher Direktwerbung in Verbindung steht. Wenn Sie widersprechen, werden Ihre personenbezogenen
                    Daten anschließend nicht mehr zum Zwecke der Direktwerbung verwendet
                    (Widerspruch nach Art. 21 Abs. 2 DSGVO).</p>

                <h3>Beschwerde­recht bei der zuständigen Aufsichts­behörde</h3>
                <p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer
                    Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres
                    Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht
                    unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.</p>

                <h3>Recht auf Daten­übertrag­barkeit</h3>
                <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines
                    Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen,
                    maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten
                    an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>

                <h3>Auskunft, Löschung und Berichtigung</h3>
                <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche
                    Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
                    Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu
                    sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit an uns wenden.
                </p>

                <h3>Recht auf Einschränkung der Verarbeitung</h3>
                <p>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                    Hierzu können Sie sich jederzeit an uns wenden. Das Recht auf Einschränkung der Verarbeitung
                    besteht in folgenden Fällen:</p>
                <ul>
                    <li>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten,
                        benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der
                        Prüfung haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen
                        Daten zu verlangen.</li>
                    <li>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht,
                        können Sie statt der Löschung die Einschränkung der Datenverarbeitung verlangen.</li>
                    <li>Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,
                        Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht,
                        statt der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
                        verlangen.</li>
                    <li>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung
                        zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen
                        Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer
                        personenbezogenen Daten zu verlangen.</li>
                </ul>
                <p>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten
                    – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung,
                    Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen
                    natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen
                    Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.</p>

                <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
                <p>Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber
                    hat
                    ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner
                    Website
                    – hierzu müssen die Server-Log-Files erfasst werden.</p>

                <h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
                <p>Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus
                    hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens
                    bei
                    uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
                <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre
                    Anfrage
                    mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher
                    Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem
                    berechtigten Interesse an der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1
                    lit.
                    f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde; die
                    Einwilligung ist jederzeit widerrufbar.</p>
                <p>Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur
                    Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die
                    Datenspeicherung entfällt (z.&nbsp;B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende
                    gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben
                    unberührt.</p>

                <p class="link">Quelle: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a>
                </p>
                }
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>