@use '../../style/apple-variables.scss' as *;

.main-page {
  width: 100%;
  position: relative;
  min-height: 100vh; // KRITISCH: Sorgt für korrekten Footer-Push
  display: flex;
  flex-direction: column;
}

.contact-desktop-wrapper {
  @media screen and (width >= 900px) {
    display: block;
  }
    
  @media screen and (width <= 899px) {
    display: none;
  }
}

.contact-mobile-wrapper {
  @media screen and (width <= 899px) {
    display: block;
  }
    
  @media screen and (width >= 900px) {
    display: none;
  }
}