@use '../../style/apple-variables.scss' as *;

.main-page {
  width: 100%;
  position: relative;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto; 
  box-sizing: border-box;
}

@media screen and (min-width: 1441px) {
  .main-page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.contact-desktop-wrapper {
  @media screen and (width >= 900px) {
    display: block;
  }
    
  @media screen and (width <= 899px) {
    display: none;
  }
}

.contact-mobile-wrapper {
  @media screen and (width <= 899px) {
    display: block;
  }
    
  @media screen and (width >= 900px) {
    display: none;
  }
}