.my-projects-content {
    nav {
        > div {
            > span {
                font-size: clamp(16px, 2.5vw, 18px); 
            }
        }
    }
    
    .project {
        .project-top {
            .technologies {
                font-size: clamp(16px, 2.8vw, 16px); 
                
                .duration {
                    font-size: clamp(16px, 2.5vw, 16px); 
                }
            }
        }
        
        .project-bottom {
            .tab-li {
                .right-of-logo {
                    > div > h4 {
                        font-size: clamp(16px, 3.5vw, 18px); 
                    }
                    
                    > p {
                        font-size: clamp(16px, 2.8vw, 16px); 
                    }
                }
            }
            
            .project-bottom-footer {
                button a {
                    font-size: clamp(16px, 3vw, 16px); 
                }
            }
        }
    }
    
    .team-player {
        .team-player-content-wrapper {
            .player {
                .player-content {
                    .player-name {
                        font-size: clamp(16px, 3.5vw, 18px); 
                    }
                    
                    .player-project {
                        font-size: clamp(16px, 3vw, 16px); 
                    }
                    
                    .player-reference {
                        font-size: clamp(16px, 2.5vw, 16px); 
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .my-projects-content {
        nav > div > span {
            font-size: 16px;
        }
        
        .project {
            .project-top .technologies {
                font-size: 16px;
                
                .duration {
                    font-size: 16px;
                }
            }
            
            .project-bottom {
                .tab-li .right-of-logo {
                    > div > h4 {
                        font-size: 16px;
                    }
                    
                    > p {
                        font-size: 16px;
                    }
                }
                
                .project-bottom-footer button a {
                    font-size: 16px;
                }
            }
        }
        
        .team-player .team-player-content-wrapper .player .player-content {
            .player-name {
                font-size: 16px;
            }
            
            .player-project {
                font-size: 16px;
            }
            
            .player-reference {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}