@use 'app/style/apple-variables' as *;

.my-projects-container {
    margin-top: 50px;
   
    h2 {
        @include h2TitleMobile();
        text-align: center;
    }
    .my-projects-content {
        
        nav {
            @include dFlex($jc:flex-start);
            >div {
                flex: 1;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                padding: 10px;
                box-sizing: border-box;
                @include dFlex();
                &.active {
                    background-color: $base-gray;
                    >span {
                        color: $base-blue;
                    }
                }
                &:hover {
                    >span {
                        color: $base-blue;
                    }
                }
                >span {
                    font-size: 18px;
                    font-weight: 400;
                    color: $base-white;
                   
                }
            }
            @media screen and (max-width:1200px) {
                justify-content: center;
            }
        }
        .project {
          
            @include standardPaddingMobile();
            @include dFlex($fd:column);
            padding-top: 30px;
            padding-bottom: 50px;
            color: $base-white;
            background-color: $base-gray;
            .project-top {
                width: 100%;
                @include dFlex($gap: 20px, $fd: column);
                .project-top-title {
                    color: $base-blue;
                    font-size: 24px;
                    align-self: flex-start;
                    
                }
                >h5 {
                    font-size: 18px;
                    text-align: center;
                    padding: 10px 0;
                }
                .technologies {
                    position: relative;
                    font-size: 14px;
                    width: 100%;
            
                    @include dFlex($gap: 5px, $fd:column);
                    .technologies-top {
                        width: 100%;
                        align-self: flex-start;
                    }
                    .duration {
                        width: 100%;
                        align-self: flex-start;
                    }
                }
                .project-img {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    >img {
                        position: relative;
                        border-radius: 30px;
                        max-width: 100%;
                        z-index: 1;
                       
                    }
                    >p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $base-blue;
                        font-size: 30px;
                        z-index: 2;
                    }
                }
                
            }
            .project-bottom {
                padding-top: 30px;
                @include dFlex($fd:column, $gap:30px);
                .tab-li {
                    width: 100%;
                    @include dFlex($jc: flex-start, $gap:20px);
                    
                    >img {
                        width: 29px;
                        position: relative;
                        top:5px;
                    }
                    .right-of-logo {
                       
                        >div {
                            @include dFlex($gap: 10px, $jc: flex-start);
                            >h4{
                                font-size: 18px;
                                font-weight: 400;
                                color: $base-blue;
                            }
                        }
                        >p {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                    }
                }
                .project-bottom-footer {
                    position: relative;
                    @include dFlex($gap:20px);
                    button {
                        background-color: transparent;
                        height: 43px;
                        
                        border-radius: 30px;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            line-height: 43px;
                            padding: 0 30px;
                            box-sizing: border-box;
                        }
                        &:nth-child(1) {
                            color: $base-black;
                            background-color: $base-blue;
                            &:hover {
                                background-color: $base-white;
                            }
                        }
                        &:nth-child(2) {
                            color: $base-blue;
                            border: 1px solid $base-blue;
                            &:hover {
                                background-color: $base-white-012;
                            }
                        }
                    }
                }
            }
            

            
        }
        .team-player {
            @include standardPaddingMobile();
            >h4 {
                padding-top: 80px;
                font-size: 32px;
                font-weight: 400;
                color: $base-blue;
                text-align: left;

            }
            >p {
                font-size: 18px;
                font-weight: 400;
                color: $base-white;
                text-align: left;
                padding-bottom: 50px;
            }
            .team-player-content {
                scrollbar-width: none;
                -ms-overflow-style: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }

                margin: 0 auto;
                width: 100%;
                overflow-x: scroll;

                
                .team-player-content-wrapper {
                    @include dFlex($gap: 20px, $jc: center);
                    width: fit-content;

                    .player {
                        opacity: .5;
                        width: 290px;
                        height: 290px;
                        flex-shrink: 0;
                        @include dFlex();
                        background: {
                            image: url('./../../../../assets/img/ref-shape.png');
                            repeat: no-repeat;
                            size: contain;
                            position: center;
                        };
                        &:hover {
                            background-image: url('./../../../../assets/img/ref-shape-hover.png');
                        }
                        .player-content {
                            
                            width: 80%;
                            @include dFlex($fd: column);
                            .player-name {
                                font-size: 18px;
                                font-weight: 500;
                                color: $base-white;
                            }
                            .player-project {
                                font-size: 18px;
                                font-weight: 400;
                                span{
                                    &:nth-child(1) {
                                        color: $base-white;
                                    }
                                    &:nth-child(2) {
                                        color: $base-blue;
                                    }
                                }
                            }
                            .player-reference {
                                color: $base-white;
                                padding: 10px 0;
                            }
                            .player-linkedIn {
                                text-decoration: underline;
                                font-size: 16px;
                                font-weight: 400;
                                color: $base-blue;
                            }
                        }
                    }
                }
                
            }
            
        }
    }
}

@keyframes from-right{
    from {
        transform: translateX(10vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes from-left{
    from {
        transform: translateX(-5vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-img-005 {
    animation: from-right .5s ease-in-out;
}
.animate-img-075 {
    animation: from-right .75s ease-in-out;
}
.animate-img-010 {
    animation: from-right 1s ease-in-out;
}
.animate-img-005-from-left {
    animation: from-left .5s ease-in-out;
}