<div class="landing-page-extra wide-screen" id="landing-page-extra" style="display: none;">
</div>
<div class="content wide-screen" id="landing-page-mobile">
    <app-menu [(isShowable)]="showMenu" [wh]="wh" [top]="top" [left]="left"></app-menu>

    <div class="content-top">
        
        <div class="logo">
            <div class="logo-img"></div>
            <div class="logo-name">X.Yang</div>
            <div class="logo-position">Developer</div>
        </div>
        <div class="burger">
            <div class="burger-img pointer" (click)="showMenu = true;" [class.close]="showMenu">

            </div>
        </div>
        
    </div>
    
    <div class="content-middle">
        <div class="img-wrapper" [ngStyle]="{ opacity: !showMenu ? 1 : 0 }">
           
            <img #logoImg src="assets/img/profile-rectangle.png" alt="">
           
        </div>
        
        <div class="title-logo-wrapper">
            
            <div class="title">
                <div class="name">{{ 'landingPage.name' | translate}}</div>
                <div class="position">{{ 'landingPage.position' | translate}}</div>
        </div>
        </div>
        <div class="arrow-wrapper" [appScrollAnimate]="{animateCss:'move-down'}">
            <div [appScrollBounce]="'why-me'"  [offsetY]="104" class="arrow-down pointer">

            </div>
            
        </div>
    </div>
</div>

