@use "./../../../style/variables" as *;

.footer-wrapper {
    width: 100%;
    background-color: $base-blue;
    height: 204px;
}

footer {
    height: 100%;
    background-color: $base-blue;
    margin: 0 auto;
    @include dFlex();
    @include standardPadding();
    max-width: 1440px;
    box-sizing: border-box;
    .footer-content {
        width: 100%;
        height: 72px;
        @include dFlex($jc: space-between);
        
        .left {
            flex: 1;
            align-self: flex-end;
            @include dFlex($gap:10px, $fd: column, $ai: flex-start);
            .legal-notice {
                a {
                    color: $base-lightgray;
                    font-weight: 400;
                    font-size: 18px;
                    &:hover {
                        color: $base-white-050;
                    }
                    &:active {
                        color: $base-white;
                    }
                }
            }
            .copy-right {
                color: $base-lightgray;
                font-weight: 400;
                font-size: 18px;
            }

        }
        .middle {
            flex: 1;
            .logo {
                @include dFlex($fd: column, $jc: center);
                .logo-img {
                    width: 60px;
                    height: 38px;
                    background: {
                        image: url('./../../../assets/img/logo.png');
                        repeat: no-repeat;
                        position: center;
                    };
                }
                .logo-name {
                    font-size: 16px;
                    color: $base-white;
                }
                .logo-position {
                    font-size: 12px;
                    color: $base-lightgray;
                }
            }
        }
        .right {
            flex: 1;
            align-self: flex-end;
            @include dFlex($gap:10px, $jc: flex-end);
            .img {
            
                width: 30px;
                height: 30px;
                background: {
                    repeat: no-repeat;
                    size: contain;
                    position: center;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
            .github {
                background-image: url('./../../../assets/img/github-dark.png');
                &:hover {
                    background-image: url('./../../../assets/img/github-white.png') 
                }
            }
            .email {
                background-image: url('./../../../assets/img/mail-dark.png');
                &:hover {
                    background-image: url('./../../../assets/img/mail-white.png') 
                }
            }
            .linkedin {
                background-image: url('./../../../assets/img/linkdin-dark.png');
                &:hover {
                    background-image: url('./../../../assets/img/linkdin-white.png') 
                }
            }
        }
    }
}

