

<div class="hide-on-desktop">
    <app-footer-mobile></app-footer-mobile>
</div>
<div class="hide-on-mobile">
    <div class="footer-wrapper">
        <footer>
            <div class="footer-content">
                <div class="left">
                    <div class="legal-notice pointer">
                        <a routerLink="/legal-notice">{{ 'footer.legalnotice' | translate }}</a>
                    </div>
                    <div class="Copy-Right">
                        &#169; Yasin Sun 2025
                    </div>
                </div>
                <div class="middle">
                    <div class="logo">
                        <div class="logo-img"></div>
                        <div class="logo-name">Yasin Sun</div>
                        <div class="logo-position">Developer</div>
                    </div>
                </div>
                <div class="right">
                    <div class="github img pointer">
                        <a href="https://github.com/muc1982" target="_blank"></a>
                    </div>
                    <div class="email img pointer">
                        <a href="mailto:info@sun-dev.de"></a>
                    </div>
                    <div class="linkedin img pointer"> 
                        <a href="https://www.linkedin.com/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

