@use '../../../../../style/apple-variables' as *;
.menu-wrapper {
    width: 100vw;
    height: 100vh;
    
    position: fixed;
    left:0;
    top:0;
    z-index: 997;

    .menu-overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 998;
        
    }
    .menu-content {
        width: 320px;
        height: 320px;
        position: absolute;
        top: calc(72px + 25px);
        z-index: 999;
        ul {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 40px;
            box-sizing: border-box;
            @include dFlex($fd: column, $jc: space-around);
            background-image: url('./../../../../../assets/img/shape.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            li {
                font-size: 22px;
                &.active {
                    color: $base-white;
                }
            }
        }
    }
}
